@import "../globals";

/* BREADCRUMBS */

div.breadcrumbs {
  padding: 10px 20px 10px 175px + 20px + 20px;

  @include for-mobile {
    padding: 20px 20px 10px 20px;
  }

  @include for-phone {
    padding: 10px;
  }

  ul li{
    display: inline-block;
    list-style: none;
  }
  
}

.icon-arrow-right:before {
  content: "\E60A";
}

/* FORM ROWS */

.form-row {

  p {
    padding-right: auto;
    padding-left: 0;
  }
}
