@import "../globals";

.delete-confirmation {

  #content > ul:nth-of-type(2), #content > h1 + p + ul {
    box-shadow: 0 0 0 2px $content-border2-color;

    ul {
      margin-right: 20px;
      margin-left: 0;
    }
  }

  #content form {

    .button {
      margin-right: 10px;
      margin-left: 0;

      @include for-mobile {
        margin-right: 0;
        margin-left: auto;
      }
    }
  }
}
