@import "../globals";

/* POPUP */

.related-popup {
  padding-right: 250px;
  padding-left: 0;

  @include for-mobile {
    padding-right: 0;
    padding-left: auto;
  }

  &-container {
    .loading-indicator {
      margin-right: -48px;
      margin-left: 0;
    }
  }

  &-back {
    &, &:visited, &:hover {
      right: 250px;
      left: auto;
      padding: 14px 0 14px 6px;
      margin-right: -100px;
      margin-left: auto;

      @include for-mobile {
        margin-right: 0;
        margin-left: auto;
        right: 10px;
        left: auto;
      }
    }
  }
}
